* {
  box-sizing: border-box;
}

body {
}

h1 {
  border: 10px solid black;
  margin: 10px auto;
  background-color: red;
  text-align: center;
}

p {
  border: 5px solid blue;
  background-color: green;
}

#board {
  border: 3px solid rgba(11,13,13, 0.7);
  background-color: rgba(85, 173, 195, 0.7);
  width: 600px;
  height: 300px;
  position: relative;
  top: 100px;
  margin: auto;
}

.paddles {
  width: 30px;
  height: 60px;
}

#paddleA {
  border: 2px solid rgba(193,66,66, 0.8);
  background-color: rgba(193,66,66, 0.8);
  position: absolute;
  top:120px;
  left:20px;
}

#paddleB {
  border: 2px solid rgba(63,191,127, 0.8);
  background-color: rgba(63,191,127, 0.8);
  position: absolute;
  top: 120px;
  right: 20px;
}

#ball {
  border: 2px solid rgba(255, 255, 101, 0.8);
  background-color: rgba(255, 255, 101, 0.8);
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: absolute;
  top: 135px;
  left: 285px;
}
